# Test Report

Run timestamp: 2026-04-01T10:04:14

## flutter test test/unit --machine
- Exit code: 0
- Tests: 43
- Failures: 0
- Duration (s): 7.02

## flutter test test/widget --machine
- Exit code: 0
- Tests: 8
- Failures: 0
- Duration (s): 5.38

## flutter test test/widget_test.dart --machine
- Exit code: 0
- Tests: 4
- Failures: 0
- Duration (s): 5.05
